//Variables

$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@mixin flex($justify-content, $align-items, $flex-direction) {
    display: flex;
    justify-content: $justify-content ;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@mixin mediaQueries ($breakpoint) {

    @if ($breakpoint ==775) {
        @media screen and (max-width:775px) {
            @content
        }
    }

    @else if($breakpoint ==1380) {
        @media screen and (max-width:1380px) {
            @content
        }
    }

    @else if($breakpoint ==1115) {
        @media screen and (max-width:1115px) {
            @content
        }
    }

    @else {
        @media screen and (max-width:375px) {
            @content
        }
    }
}

body {
    font-family: 'Manrope';
    font-size: 0.8125rem;
    background-color: $Light-Grayish-Blue;
}

.wrapper-main {
    // border: 2px solid black;
    @include flex(center, stretch, row);
    margin: 32.5vh auto;
    width: 50.69%;
    background-color: white;
    border-radius: 10px;

    @include mediaQueries(1115) {
        width: 65%;
    }

    @include mediaQueries(775) {
        width: 90%;
    }

    @include mediaQueries(375) {
        @include flex(center, center, column);
        margin: 10% auto;
    }
}

.image {
    // border: 2px solid blue;
    width: 45%;
    border-radius: 10px 0 0 10px;
    overflow: hidden;

    img {
        // border: 2px solid yellow;
        width: 100%;
        height: 100%;
    }

    @include mediaQueries(375) {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }
}

.text {
    // border: 2px solid red;
    width: 55%;
    padding: 0 1.5em;

    @include mediaQueries(1380) {
        padding-bottom: 1.5em;
    }

    @include mediaQueries(375) {
        width: 100%;
        padding: none;
    }

    h1 {
        color: $Very-Dark-Grayish-Blue;

        @include mediaQueries(375) {
            font-size: 1.125rem;
            font-weight: 700;
        }
    }

    p {
        // border: 2px solid black;
        font-weight: 500;
        color: $Grayish-Blue;

        @include mediaQueries(375) {
            font-size: 0.9rem;
        }
    }

}

.author {
    // border: 2px solid purple;
    @include flex(none, center, row);
    margin-top: 1.5em;
    position: relative;

    &_avatar {
        img {
            width: 40px;
            border-radius: 100px;
        }
    }

    &_info {
        margin-left: 1em;
        line-height: 0px;

        h4 {
            color: $Very-Dark-Grayish-Blue;
            font-weight: 800;
        }
    }

    button {
        margin-left: auto;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 100px;
        aspect-ratio: 1;
        cursor: pointer;
        position: relative;
        z-index: 3;
        @include mediaQueries(775){
            right: 5%;
        }
    }
}

#share-svg-path {
    fill: $Desaturated-Dark-Blue;
}

.share-icons {
    @include flex(space-evenly, center, row);
    width: 70%;
    background-color: $Very-Dark-Grayish-Blue;
    box-shadow: 5px 5px 15px $Grayish-Blue;
    border-radius: 10px;
    padding: 0.2em 1em;
    position: absolute;
    top: -4.5rem;
    left: 61%;
    visibility: hidden;

    p {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    @include mediaQueries(775) {
        top: 0%;
        left: 0%;
        width: 100%;
        border-radius: 0 0 10px 10px;
        @include flex(left, center, row);
        img{
            padding-left: 1.75em;
        }
    }

    &::before {
        content: '';
        border-top: 15px solid $Very-Dark-Grayish-Blue;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        filter: drop-shadow(5px 5px 5px $Grayish-Blue);
        position: absolute;
        top: 98%;
        z-index: 2;

        @include mediaQueries(775) {
            display: none;
        }
    }

}

.darken {
    background-color: $Desaturated-Dark-Blue;
}

.share-icons-visible {
    visibility: visible;
}