@import '../Variables.scss';

#screen {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: inherit;
    color: $White;
    background-color: $Very-dark-desaturated-blue-screen-bg;
    font-size: 2rem;
    text-align: right;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    @media screen and (max-width:850px) {
        margin: 0.75em 0;
    }
}

#screen::-webkit-inner-spin-button,
#screen::-webkit-outer-spin-button {
    display: none;
}

.theme-2 {
    #screen {
        color: $Very-dark-grayish-yellow;
        background-color: $Very-light-gray;
    }
}

.theme-3 {
    #screen {
        color: $Light-yellow;
        background-color: $Very-dark-violet-toggle-bg-keypad-bg-screen-bg;
    }
}